body {
  background-color: #cacaca;
  background-size: cover;
}
#root {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-items: start;
  gap: 10px;
}
#gameboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
#purchasables {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
tbody {
  margin: 0;
  background-color: white;
  padding: 10px;
  padding-top: 8px;
  padding-bottom: 13px;
  border-radius: 5px;
}

tr {
  margin: 0;
  padding: 0;
  width: 100%;
}
td {
  margin: 0;
  padding: 0;
  height: 21px;
}
input,
select,
.settingTitle,
.statTitle,
.stat {
  font-size: 13px;
  margin-right: -1px;
  height: 21px;
  width: 150px;
  padding: 0;
  padding-left: 5px;
  border-width: 1px;
  border-spacing: 0px;
  border-color: grey;
  border-style: solid;
  background-color: white;
}
#settings,
#stats {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  display: "flex";
  flex-direction: "column";
  align-items: "center";
}
.settingHolder,
.statHolder {
  display: flex;
  align-items: center;
  height: 21px;
  padding: 0px;
  margin: 0px;
}
.settingTitle,
.statTitle {
  width: 157px;
}
select {
  width: 157px;
  height: 23px;
}
#below {
  display: flex;
  justify-content: start;
  gap: 10px;
}
