body {
  width: 100vw;
  height: 90vh;
  background-color: #cacaca;
  margin: 20px;
  display: flex;
  justify-content: center;
}
#root {
  height: 81.1%;
  width: 93.1%;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-self: center;
}
#above {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#below {
  height: 55%;
}
#above,
#below {
  overflow: scroll;
}
#stats {
  display: flex;
}
#gameboard {
  display: flex;
}
#gameboard > tbody {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
}
.statTitle {
  overflow: hidden;
}
#firstStat {
  width: 50px;
}
#settingsButton {
  border-radius: 0px;
  height: 23px;
  width: 157px;
}
#settingsButton:hover {
  border-color: black;
}
#settingsButton:focus {
  outline-color: black;
}
#purchasables,
#settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
td {
  padding: 0;
  line-height: 0px;
}
.boardRow,
.purchasableRow {
  display: flex;
  align-items: start;
}
input,
p {
  color: black;
}
input,
select,
.settingTitle,
.statTitle,
.stat {
  cursor: initial;
  font-size: 13px;
  margin: 0;
  margin-right: -1px;
  margin-bottom: -1px;
  padding: 0;
  padding-left: 5px;
  border-width: 1px;
  border-color: grey;
  border-style: solid;
  background-color: white;
  position: sticky;
}
.boardCell:focus {
  outline: none;
  border: solid;
  border-width: 2px;
  border-color: rgb(0, 128, 32);
  z-index: 1000;
  width: var(--cell-select-width) !important;
  height: var(--cell-select-height) !important;
}
.purchasableCell:focus {
  outline: none;
}
.settingHolder {
  display: flex;
  align-items: center;
  height: 21px;
  position: sticky;
  box-shadow: -1px 0px 0px 0px black;
}
select {
  width: 157px;
  height: 23px;
  padding-left: 0px;
}
#purchasables {
  margin-top: -3px;
}

#below {
  display: flex;
  justify-content: start;
  align-items: start;
  border-top-style: solid;
  border-top-color: #404040;
}
button {
  margin-top: 5px;
}
.settingSlider {
  accent-color: #404040;
  width: 110px;
}
.settingHolder > div {
  padding-inline: 5px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
  width: 146px;
  border-bottom: solid 1px grey;
  border-right: solid 1px grey;
}
#bottom {
  display: flex;
  height: 60px;
  gap: 5px;
}
#dimensions {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
.dimensionButtonHolder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  height: 50%;
}
.dimensionButton {
  border: solid 1px;
  border-radius: 3px;
  width: 30px;
  height: 25px;
  padding: 0px;
  margin: 0px;
}
#newButton {
  width: 90%;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
