body {
  width: 100vw;
  background-color: #cacaca;
  margin: 20px;
  display:flex;
  flex-direction: column;
}
#root {
  padding: 10px;
  margin-top: 15vh;
  padding-bottom:12px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-items: start;
}
#gameboard,
#purchasables,
#settings,
#stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
td {
  padding: 0;
  height: 21px;
}
.boardRow {
  display:flex;
  justify-content: space-between;
}
input,
select,
.settingTitle,
.statTitle,
.stat {
  font-size: 13px;
  margin:0;
  margin-right: -1px;
  height: 21px;
  width: 150px;
  padding: 0;
  padding-left: 5px;
  border-width: 1px;
  border-color: grey;
  border-style: solid;
  background-color: white;
  position: sticky;
}
.settingHolder,
.statHolder {
  display: flex;
  align-items: center;
  height: 21px;
}
.settingTitle,
.statTitle {
  width: 150px;
}
select {
  width: 157px;
  height: 23px;
  padding-left: 0px;
}
#purchasables {
  margin-top: -5px;
}
#below {
  margin-top:2px;
  display: flex;
  justify-content: start;
  align-items:center;
  border-top-style:solid;
  border-top-width:4px;
  border-top-color: #404040;
}
button {
  margin-top: 5px;
}
